pkgbase = lixplore-cli
	pkgdesc = Academic Literature Search & Export CLI Tool - Search PubMed, arXiv, Crossref, DOAJ, EuropePMC
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/pryndor/Lixplore_cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-biopython
	depends = python-requests
	depends = python-openpyxl
	optdepends = python-rich: Enhanced TUI mode with colors and formatting
	source = lixplore-cli-1.0.1.tar.gz::https://github.com/pryndor/Lixplore_cli/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = SKIP

pkgname = lixplore-cli
